@media only screen and (min-width:362px){          


    * {
        box-sizing: border-box;
        font-family: 'Public Sans', sans-serif;
        color: #7E7A7A;     
         
    }
  
    body {
        margin: 0;
        padding: 0;
        font-family: Public Sans;
        overflow:auto; 
    }

    li,
  a,
  button {
      font-weight: 500;
      font-size: 1em;           
      text-decoration: none;
  }

  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em 10em;
      background-color: #FFFFFF;
  }
  @media screen and (max-width: 400px) {
    header {
    flex-wrap: wrap;
    width: 32.5em;
   }
}

  .logo {
      cursor: pointer;
  }

  .navigation {
      list-style: none;
  }

  .navigation li {
      display: inline-block;
      padding: 0em 1.5em;
  }

  .navigation li a {
      transition: all 0.3s ease 0s;
      padding: 1em;
  }

  .navigation li a:hover {
      color: #000000;
      border-bottom: 0.3em solid #29DB65;
  }

  button {
      padding: 0.6em 2em;
      background-color: hsl(136, 65%, 51%);
      border: none;
      outline: none;
      border-radius: 5em;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      color: #FFFFFF;            
  }

  button:hover {
      background-color: rgba(65, 230, 147, 0.8);
  }

  .pattern {       
    display: flex;      
}
@media screen and (max-width: 1400px) {
  .pattern {
  flex-wrap: wrap;
 }
}
.intro{
    
    padding:0 10em;
    text-align:left;
    align-self: center;
}
@media screen and (max-width: 400px) {
  .intro{
 width:32.5em;
 }
}

h1{
    font-size: 400%;
    font-weight: 100;
    color:	#000000;     
}
h2{
    font-size: 200%;
    font-weight: 100;
    color:	#000000; 
}
p{
    font-size: 150%;
}

#mobileImg{
    
    object-position: 8.2em -7em; 
    object-fit: cover;
    background-image: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    flex-shrink: 2;
   
}
@media screen and (max-width: 1400px) {
  #mobileImg{
 width:32em;
 }
}

.services{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#Item-1{
    
    text-align:left;
    padding-left: 12em;      
    background-color: #E7F0F1;
}


#Item-2{
    display:flex;
   
    padding: 0% 10%;
    background-color: #E7F0F1;
   
}
@media screen and (max-width: 1400px) {
  #Item-2 {
  flex-wrap: wrap;
 }
}
.subItems{
    
    padding: 5% 0;
    margin: 0 0.8%; 
}
#articleHead{
    padding: 0 10%;
    
}
.readArticle{
   
    display:flex;          
    
    padding:0 10%;   
    margin-bottom: 5%;
    
    
}
@media screen and (max-width: 1400px) {
.readArticle {
  flex-wrap: wrap;
 }
}
.articleInfo{
    margin: 0 0.8%;          
}
.articleImg{
    width: 20em;
    height: 15em;
}
.readArticle a{
    font-size: 200%;
    color: 	#000000;
    display: inline-block;
}
.readArticle p{
    font-size: 100%;
}
.readArticle a,h4,p{
    padding: 0 1%;
}
.readArticle a:hover{
   color: rgba(39, 161, 100, 0.8);
}


.footerMenu{
    display: none;
}
.footerItemsContainer{      
    display:flex;
}   
.footerItems{
    color:#FFFFFF;
}
#footerItem-1{
    flex-basis:18%;
    display:flex;
    justify-content: space-evenly; 
    align-items: center;   
    padding-left: 5%;     
    flex-wrap: wrap;
    background-color: #272650;
}
.navigationFooter {            
    list-style: none;
}
footer li a{
    color:#FFFFFF;
    font-size: 1.5em;  
    display: inline-block;
    width:-3em; 
    }

footer .navigationFooter li {
    display: block;
    padding: 0% 1.5%;
}

footer .navigation li a {
    transition: all 0.3s ease 0s;
    padding: 1%;
}
.footerOptions{
    margin: 0.3em;
}

footer .navigationFooter li a:hover {
    color: #29DB65;
}


  
#footerItem-2{
    flex-basis:50%;
   display: flex;
   flex-direction: column;   
   align-items: center;
   flex-wrap: wrap;
   background-color: #272650;
}      
#footerItem-3{
    flex-basis:50%;
   display: flex;
   flex-direction: column;   
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background-color: #272650;
}   
#footerItem-4{
    flex-basis:54%;
   display: flex;
   flex-direction: column;   
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background-color: #272650;
}
footer p{
    font-size: 1em;
    color: #B1AFAF;
}
.attribution {
  font-size: 1em;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#Menu,#close{
    display:none;
}

  #mobileLayout{
    display:none;
}

#randomPatternMobile{
  display: none;      
}  
#option-1{
    display: none;
}


}  

@media only screen and (max-width:362px){
    
    * {
        box-sizing: border-box;
        font-family: 'Public Sans', sans-serif;
        word-wrap: break-word;      
        color: #7E7A7A;      
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Public Sans;
    }
    header{
       
        height: 11em;
       
        display: flex;
        padding: 2em;
        z-index: 1;
        background-color: #FFFFFF;
    }
    header .logo{
        width:28em;
       
    }  
    header #Menu{
        align-self: center;
        
    }
    .pattern{
        display: flex;
        
        height: 50em;
        flex-direction: column;
        
        background-image: url("./images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #mobileImg{
        object-position: 0.5rem -15rem;
    }
    .intro{
        order:2;
    }
    .intro h1{
        
        text-align: center;
        height: 3em;
        font-size: 2.9em;
        font-weight: 100;
        color: #000000;
        margin: 0;
    }
    .intro p{
        
        text-align: center;
       
        font-size: 2em;
        font-weight: 100;
        color: #494646;
        margin: 0;
        
    }
    li,a,button {
        font-weight: 500;
    font-size: 1em;
    text-decoration: none;
    
    margin-left: 1em;
    display: inline-block;
        }        
        button {
            padding: 0.6em 2em;
            background-color: hsl(136, 65%, 51%);
            border: none;
            outline: none;
            border-radius: 5em;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            color: #FFFFFF;      
            margin:0 6em;
            height: 4em;
            font-weight: bold;
            margin-top: 5em;
        }

        button:hover {
            background-color: rgba(65, 230, 147, 0.8);
        }

        .items{
            text-align: center;
            font-size: 2em;
            background-color: #F6F7FD;
            width:11.2em;
            
        }

        #articleHead h1,.services h1,h2{
            color:#2A2929;
            font-weight: 100;
            height:2em;
        }
        article h4{
            margin-left:2.6em;
        }
        
       #Item-1{
        margin-top: 14rem;        
        padding: 1em;
       }
       #Item-1 h1{
           margin-top:12em;
       }

       
       article img{ 
        width: 22em;
    padding: 0 1em;
       }
       #articleHead{
           margin-left: 2em;
           font-size: 2.5em;
       }
       #articleHead h1{
           width: 4em;
       } 
        .readArticle a{
            color:#000000;
            font-size: 2.5rem;
        }
        .readArticle p{
            font-size: 1.8rem;
            padding: 0 5rem;
        }
        .footerItemsContainer{
            background-color: #272650;
            display: flex;
            flex-direction: column;
            height: 31em;
            text-align: center;
            margin-top: 8rem;
        }
        .footerItems{
            height:20vh;
            color:#FFFFFF;
        }
        #footerItem-1{
            flex-basis:18vw;
            display:flex;
            justify-content:space-evenly; 
            align-items: center;   
            padding: 0 5rem;    
            margin: 2rem;  
            cursor: pointer;
        }
        .navigationFooter {            
            list-style: none;
            padding: 0;
        }
        footer li a{
            color:#FFFFFF;
            font-size: 1.3rem;
            }
            footer li{
                margin: 0.5rem;
            }

        footer .navigationFooter li {
            display: block;
            padding: 0rem 1.5rem;
        }

        footer .navigation li a {
            transition: all 0.3s ease 0s;
            padding: 1rem;
        }

        footer .navigationFooter li a:hover {
            color: #29DB65;
        }
        #option-5{
            margin-top: 1em;
        }
        
        #footerItem-2{
            flex-basis:14vw;
           display: flex;
           flex-direction: column;   
           justify-content: center;
           align-items: center;
           height:5rem;
        }      
        #footerItem-3{
            flex-basis:14vw;
           display: flex;
           flex-direction: column;   
           justify-content: center;
           align-items: center;

        } 

        #footerItem-4{
            flex-basis:54vw;
           display: flex;
           flex-direction: column;   
           justify-content: center;
           align-items: center;
           padding-left: 0em;
           
        } 
        footer p{
            margin: 1rem;
            font-size: 1rem;
            color: #B1AFAF;
        }
        #careersOption{
            margin-top: 1em;
        }
        .attribution {
            font-size: 1em;
            text-align: center;
          }
        
          .attribution a {
            color: hsl(228, 45%, 44%);
          }
          header #mobileLayout,header .navigation,header #headerNavButton{
            display: none;
        }
        
        #randomPattern{
            display: none;
        }
        #close{
            display: none;
        }
        
        #randomPatternMobile{
           display: none;
        }
        .footerMenu{
                display: none;
            }

}