@media only screen and (max-width:362px){
    * {
        box-sizing: border-box;
        font-family: 'Public Sans', sans-serif;
        word-wrap: break-word;      
        color: #7E7A7A;      
    }
    
    body {
        margin: 0;
        padding: 0;
        font-family: Public Sans;
    }
    header{
            height: 11em;
            display: flex;
            padding: 2em;
            z-index: 1;
            background-color: #FFFFFF;
        }
        header .logo{
            width: 15em;
        height: 4em;
        }  
    header #close{
        align-self: center;     
      margin-left: 2em;   
     width: 2rem;   
      height: 2rem;   
      margin-bottom: auto;
    }
    footer{
        background-image: url("./images/bg-intro-mobile.svg");   
            background-repeat: no-repeat;   
    }
    footer .footerMenu{
        width:19em;
        margin-top: 6em;
    }
    footer .footerMenu h1{
       text-align: center;
        font-size: 2.5em; 
        font-weight: 100; 
        color: #000000; 
        margin: 0;
    }
    footer .footerMenu p{
        text-align: center;
        font-size: 1.2em;
        font-weight: 100;
        color: #000000;
    }
    footer li,a,button {
            font-weight: 500;
            font-size: 1rem;           
            text-decoration: none;
        }
       footer button {
            padding: 0.6rem 2rem;
            background-color: hsl(136, 65%, 51%);
            border: none;
            outline: none;
            border-radius: 5rem;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            color: #FFFFFF;      
            margin:0 5em;
            height: 4rem;
            font-weight: bold;
        }
    
        button:hover {
            background-color: rgba(65, 230, 147, 0.8);
        }

        .footerItemsContainer{
            background-color: #FFFFFF;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 2em;
            border-radius: 1.2em;              
        }        
       
        .footerItems{
            height:20vh;
            color:#FFFFFF;
        }
        
        .navigationFooter {            
            list-style: none;
            padding:0;
        }
        footer li a{
            color:#000000;
            font-size: 1.3rem;
            }
            footer li{
                margin: 0.5rem;
            }
    
        footer .navigationFooter li {
            display: block;
            padding: 0rem 1.5rem;
        }
    
        footer .navigation li a {
            transition: all 0.3s ease 0s;
            padding: 1rem;
        }
    
        footer .navigationFooter li a:hover {
            color: #29DB65;
        }
        
        #footerItem-2{
            flex-basis:14vw;           
           align-items: center;
           text-align: center;
           margin:0;
        }      
        #footerItem-3{
            flex-basis:14vw;           
           text-align: center;
           margin-top: 3em;
        } 
      
        .footerOptions{
            font-size: 2em;
        }
   
}